@use './reset.scss';

#container {
  width: 100%;
  height: 100vh;
}

.texts {
  pointer-events: none;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  font-family: "Hiragino Kaku Gothic ProN", "Helvetica Neue", Arial, "Hiragino Sans", Meiryo, sans-serif;
  color: white;
  font-size: 27vh;
  font-weight: 900;
  letter-spacing: 2vw;

  transition: opacity 1s;
  mix-blend-mode: exclusion;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: white;

  perspective: 200px;

  @media (orientation: portrait) {
    font-size: 27vw;
  }
}
.texts__grass {
  margin-top: 25vh;
}
.texts__inTheWind {
  margin-top: 25vh;

  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  text-align: center;
  letter-spacing: -3vw;
}
